*{
    box-sizing: border-box;
}

textarea {
    font-size: 14px;
    line-height: 20px;
    display: block;
    width: 100%;
    height: 92px;
    padding: 16px 12px;
    resize: none;
    white-space: normal;
    word-break: break-all;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: auto;
}